<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>Page d'accueil</title>
</head>
<body>
<div id="navbar">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/ListItem}">Liste des articles</a></li>
                <li><a th:href="@{/rss22/resume/xml}">Liste des articles XML</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>

<fieldset>
    <legend>La page d'accueil</legend>

    <label>Nom du projet: RSS22 - Projet XML.</label><br/>

    <label>Version du projet: V1.0.</label><br/>

    <label>Nom des développeuses: BENCHEIKH Asmae - MOUBARIK Hanae.</label><br/>

    <label>Logo de l'université: To add.</label><br/>
</fieldset>
</body>
</html>