<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail des articles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:inline="javascript">
        window.addEventListener('pageshow', (event) => {
            fetch('/rss22/resume/html/'+ [[${guid}]])
                .then(response => response.text())
                .then(data => {
                    let tr = [];
                    const parser = new DOMParser();
                    const xml = parser.parseFromString(data, "application/xml");
                    const object = xml.documentElement.childNodes;
                    tr.push('<table border="0">')
                    console.log(object);
                    for (let i=0; i<object.length; i++)
                    {
                        if(object[i].nodeName!=="categories" && object[i].nodeName!=="authorOrContributors"
                            && object[i].nodeName!=="image" && object[i].nodeName!=="content")
                        {
                            tr.push('<tr>')
                            tr.push('<td>' + object[i].nodeName+'</td>')
                            tr.push('<td>:</td>')
                            tr.push('<td>'+object[i].textContent+'</td>')
                            tr.push('</tr>')
                        }

                    }
                    tr.push('</table>')
                    document.getElementById("div1").innerHTML=tr.join('')

                })
                .catch(console.error);
        });
    </script>
</head>
<body>
<h1>Article</h1>
<a th:href="@{/ListItem}">Revenir vers la liste des articles</a>
<br/><br/>
<div id="div1">

</div>
</body>
</body>
</html>